body{
    background-color: #f1c5c5;
    font-family: 'Courier New', Courier, monospace;
}

.gameContainer{
    border: solid;
    border-radius: 25px;
    border-width: 3px;
    margin: 10% 25%;
}

.gameContainer > *{
    text-align: center;
}

.buttonDiv {
    margin: 0 auto;
}

#gameResult{
    background-color: rgba(190, 75, 75, 0.3);
    margin: 25px 25%;
}

button{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: rgba(190, 75, 75, 0.5);
    border: none;
    padding: 15px;
    box-shadow: 3px 3px rgba(0, 130, 130, 0.3);
}

button:hover {
    background-color: rgba(190, 75, 75, 0.7);
}

button:active {
    background-color: rgba(190, 75, 75, 0.9);
    transform: translateX(3px) translateY(3px);
    box-shadow: none;
  }
